body {
  font: 14px helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;

}

body * {
  margin: 0;
  padding: 0;
}

.weatherapp {
  position: absolute;
  height: 100%;
  width: 100%;
}
.debug {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  font-size: 10px;

}

.weatherapp-map {
  display: block;
  height: 50%;
  min-height: 50%;
}

.weatherapp-history  {
  display: block;
  height: 50%;
  background: lightblue;
  background-opacity: 10%;
  padding: 20px;
  overflow: scroll;

}

.placeInfo {
  margin: 0px auto;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;

}

.placeInfo h3 {
  margin: 0;
  padding: 0;
}
.placeInfo span {
  display: inline-block;
  margin-right: 20px;
}
